<p>Menu Lateral</p>

<!-- Left links -->
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="admin/carros">Carros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="admin/marcas">Marcas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="admin/acessorios">Acessorios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="login" tabindex="-1" aria-disabled="true"
      >Sair</a
    >
  </li>
</ul>
<!-- Left links -->
